.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &-content {
    padding: 1rem;
    color: white;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &-header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    h1 {
      color: var(--text);
      font-size: 20px;
    }
    &-icon {
      display: flex;
      gap: 1rem;
      svg {
        color: var(--text);
        font-size: 24px;
      }
    }
  }
  &-navigation {
  }
}
